<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Resizer Test</title>
        <style>
            body>div>div{
                display:inline-block;
            }
        </style>
    </head>
    <body>

        <% for(var i = 0; i < images.length; i++) { %>
        <div>
            <% for(var j = 0; j < tests.length; j++) { %>
                <div class="test">
                    <h3><%= tests[j] %></h3>
                    <a href="/im/?image=<%= images[i] %>&<%= tests[j] %>">
                        <img src="/im/?image=<%= images[i] %>&<%= tests[j] %>" />
                    </a>
                </div>
            <% } %>
        </div>
        <% } %>


    </body>
	<footer>
		<!-- Live reload from anywhere -->
		<script>
			if (window.location.hostname == "localhost" || window.location.hostname.split(".").length == 4) {
				var e = document.createElement("script");
				e.setAttribute("src", "http://" + window.location.hostname + ":35729/livereload.js");
				document.body.appendChild(e);
			}
		</script>
	</footer>
</html>
